@using belt1.Models
@model List<Display>

<h3>Welcome to dashboard of Dojo Alumni Idea board </h3>




<p><a href="/newactivity">Add Idea!</a></p>

@foreach (Display i in Model)
{
    <p>
    <a href="/user/@i.UserID">@i.UserName says:  </a>
    </p>
    <h3>@i.ActivityMessage</h3>
    <p>
    <a href="/join/@i.DisplayID">Like</a>
    </p>
    <a href="/activity/@i.DisplayID">@i.Guests.Count() people like this. </a>
    <p>
        @if (i.IsHosting)
                {
                <a href="/delete/@i.DisplayID">Delete</a>
                
                }
    </p>
    <p>
    </p>
    
   
}

