@model belt1.Models.ActivityForm

<h2>Edit Wedding</h2>
<!-- <a href="/login">Already Registered?</a> -->

<form asp-action="EditToDB" asp-controller="Home" method="post">
    <p>
    <span asp-validation-for="Message"></span>
    </p>
   
    <label asp-for="Message"></label>
	<input asp-for="Message">
    <p></p>

   


    <button type="submit">Create</button>

</form>