<!-- ２つのモデル　Login と Register を １つの（同じ）Html に表示するために -->
<!-- Container という２つのモデル　が乗っているモデルを設けた -->
@model belt1.Models.Container

<!-- Html の名前　（Partial で送る -->
<div class="box">   
    <partial name="RegisterFormPartial" />
 </div>
<div class="box">
<!-- Html の名前　（Partial で送る -->
    <partial name="LoginFormPartial" />
</div>