@model belt1.Models.Display


<a href="/dashboard">Dashboard</a>
<a href="/logout">Log Out</a>


<a href="/user/@Model.UserID">@Model.UserName says:</a>
<h1>@Model.ActivityMessage</h1>




<p>Peple who like this idea:</p>
@{
  if (Model.Guests == null)
  {
    <p>No Guests Yet</p>
  }
  else
  {
    foreach (User g in Model.Guests)
    {

      <a href="/user/@g.UserID">Alias:@g.Alias </a>
      <p> Name:@g.UserName</p>

    }
  }
}

Dis